<%- include('partials/header') -%>

<body>
  
    <section class="h-100 h-custom gradient-custom-2">
        <div style="color: #000000;" class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div  class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5" style="color: #4835d4;">Welcome to Ourchive</h3>
      
                        
      
                        
                        

                        <p>Already have an account?</p>
                        <button type="button" class="btn btn-light" data-mdb-ripple-color="dark"><a href="/login">Login</a></button>
                        <p>Need an account?</p> 
                        <button type="button" class="btn btn-dark"><a href="/signup"></a></button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    

<%- include('partials/footer') -%>